---
layout: default
---

<nav id='sidebar'>
	{% include nav.html %}
</nav>

<section class='jumbotron-home' style="margin-left: 260px;">
  <div style="text-align: center">
    <h1 style="font-size: 40px">taoPPM</h1>
    <h2><em>The Tao of Project Portfolio Management</em></h2>
    <h3>
      A pragmatic and minimalist performances-driven methodology <br>
      to manage portfolios of business-IT change projects <br>
      geared towards value creation and strategic alignment
    </h3>
  </div>
</section>

<section id='content'>



{% for post in site.posts %}
  <article class='{{ post.type }}'>
    <a name='{{ post.url }}' href='#{{ post.url }}'><h2>{% if post.type %}<code><b>{{ post.type }}</b> {{ post.path }}</code> {% endif %}{{ post.title }}</h2></a>
    <section class='body'>
      {{ post.content }}
    </section>
  </article>
{% endfor %}
</section>


<div> {% include  footer.html %}</div>
