---
layout: default
---

<nav id='sidebar'>
	{% include nav.html %}
</nav>

<section class='jumbotron-home' style="margin-left: 260px;">
  <div style="text-align: center">
    <h1>taoPPM methodology</h1>
    <h2><em>The tao of Project Portfolio Management</em></h2>
    <h3>
      bsjhfg sfjgsfgs ajfasgfajhfsahfg jkasfhsajhf jfshajsfh jafjasfjasgfjsa sjahfhasjfha  jfhasjfjafla jhfhsafjha
      bsjhfg sfjgsfgs ajfasgfajhfsahfg jkasfhsajhf jfshajsfh jafjasfjasgfjsa sjahfhasjfha  jfhasjfjafla jhfhsafjha
      bsjhfg sfjgsfgs ajfasgfajhfsahfg jkasfhsajhf jfshajsfh jafjasfjasgfjsa sjahfhasjfha  jfhasjfjafla jhfhsafjha
    </h3>
  </div>
</section>

<section id='content'>



{% for post in site.posts %}
  <article class='{{ post.type }}'>
    <a name='{{ post.url }}' href='#{{ post.url }}'><h2>{% if post.type %}<code><b>{{ post.type }}</b> {{ post.path }}</code> {% endif %}{{ post.title }}</h2></a>
    <section class='body'>
      {{ post.content }}
    </section>
  </article>
{% endfor %}
</section>
