---
layout: default
---

<nav id='sidebar'>
	{% include nav.html %}
</nav>

<section class='jumbotron-home' style="margin-left: 260px;">
  <div style="text-align: center">
    <img src="/images/logo_large_white.png" class="center-block" style="width: 30%; height: auto">
    <h2><em>The Tao of Project Portfolio Management ciao</em></h2>
    <h3>
      A pragmatic and minimalistic performances-driven methodology <br>
      to manage portfolios of business-IT change projects <br>
      geared towards agility, value creation and strategic alignment
    </h3>
    <em>
        <span style="margin-bottom: 50px">Like this methodology ? Check out</span>
        <a href="http://www.gatenest.com">
          <img src="/images/logo_gatenest_black.png" style="width: 10%; height: auto; border: solid 2px white; vertical-align: middle; background-color: lightgrey">
        </a>
    </em>
  </div>
</section>

<section id='content'>



{% for post in site.posts %}
  <article class='{{ post.type }}'>
    <a name='{{ post.url }}' href='#{{ post.url }}'><h2>{% if post.type %}<code><b>{{ post.type }}</b> {{ post.path }}</code> {% endif %}{{ post.title }}</h2></a>
    <section class='body'>
      {{ post.content }}
    </section>
  </article>
{% endfor %}
</section>


<div> {% include  footer.html %}</div>
