<!DOCTYPE html>
<html>
<head>
  <title>{{ site.title }}</title>
  <meta charset='utf-8'/>
  <meta name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1'/>

  <meta property="og:title" content="taoPPM"/>
  <meta property="og:description" content="A pragmatic and minimalistic performances-driven methodology to manage portfolios of business-IT change projects geared towards agility, value creation and strategic alignment."/>
  <meta property="og:type" content="Business IT Methodology"/>
  <meta property="og:url" content="http://www.taoppm.com"/>
  <meta property="og:site_name" content="taoPPM"/>
  <meta property="og:image" content="/images/flow_large.png"/>

  <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'/>
  <link href='assets.css' rel='stylesheet' type='text/css'>

  <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico?">

</head>
<body>

  {{ content }}

  <!--[if lt IE 9]><script src='http://html5shim.googlecode.com/svn/trunk/html5.js'></script><![endif]-->
  <script src='assets.js' type='text/javascript'></script>
  <script>require('boot');</script>


</body>
</html>
